body{
  color: #c94c4c;
  background-color: #deeaee;
  text-shadow: 1px 1px 2px grey;
}

header {
  display: flex;
  height: 4em;
}

.logo {
  margin: 0;
  max-width:50%;
  max-height:50%;
}

.nameplate {
  margin-top: 0;
  width: 90%;
  font-size: 1.5em;
  text-align: right;
}

.bio {
  text-align: center;
}

.bio>p {
  text-shadow: none;
}

.bottom-border {
  border-bottom: dashed 2px #aaa1c8;
}

.indent {
  padding-left: 2%;
}

.project {
  background-color: #b1cbbb;
  padding: 2% 5% 4%;
  margin: auto 6% 3%;
}

.rounded {
  border-radius: 8%;
  box-shadow: 2px 2px 5px grey;
}

.title {
  margin: 1.5% auto;
}

.screenshot {
  max-width: 100%;
  display: block;
  margin: auto;
}

.fab {
  font-size: 2em;
  margin-left: 4%;
  border-radius: 50%;
}

.twitter {
  color: #1da1f2;
}

.github {
  color: black;
}

.linkedin {
  color: #007bb5;
}

footer {
  margin-bottom: 4%;
}

/* Media Queries */
/* @media screen and (min-width: 650px){

} */

@media only screen and (min-width: 900px) {
  body{
    width: 900px;
    margin: auto;
  }
}
