body{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #c94c4c;
  background-color: #deeaee;
}

h1, h2, h3, p{
  margin: 0;
}

#page-header{
  border-bottom: 3px solid #c94c4c;
  display: flex;
  margin-bottom: 5px;
  height: 5em;
}

#logo{
  width: 20%;
}

#nameplate{
  width: 80%;
  padding-right: 10px;
  text-align: right;
}

.parallax {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.shape {
  width: 100%;
  padding-top: 100%;
}

.square {
  background-color: #aaa1c8
}

.circle {
  background-color: #eea29a;
}

.hexagon {
  background-color: #b1cbbb;
}

#projects-outer{
  display: flex;
  flex-wrap: wrap;
}

.project-inner{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.screenshot{
  width: 60%;
  height: 100%;
}

.info{
  width: 40%;
  text-align: center;
}

footer{
  margin-bottom: 15px;
}

i{
  font-size: 2em;
  margin-top: 10px;
  margin-left: 30px;
}

#facebook{
  color: #3b5998;
}

#twitter{
  color: #00aced;
}

#instagram{
  color: #bc2a8d;
}

#github{
  color: #323131;
}

/* Media Queries */
@media screen and (max-width: 450px){
  .screenshot, .info{
    width: 100%;
    height: auto;
  }

  #logo{
    width: 30%;
  }

  #nameplate{
    width: 70%;
  }
}

@media screen and (min-width: 650px){
  .screenshot{
    width: 100%;
    height: 100%;
  }

  .info{
    width: 100%;
  }

  #logo{
    width: 10%;
  }

  #nameplate{
    width: 90%;
  }

  #projects-outer{
    flex-wrap: nowrap;
  }

  .project-inner{
    height: 100%;
  }
}

@media screen and (min-width: 900px){
  body{
    width: 900px;
    margin: auto;
  }
}
